.sliderBackgroundContainer{
    position: absolute;
    overflow: hidden;
    .sliderBackground{
        height: 100vh;
        width: 100vw;
        .itemSliderBackground{
            height: 100vh;
            width: 100vw;
            background-size: cover;
        }
    }
}

.containerScreen {
    height: 100vh;
    z-index: 9;
    position: absolute;
    // background: black;
    // background-image: url("../images//Background.png");
    background-size: cover;
    overflow: hidden;
    .headerSection {
        width: 100%;
        background: white;
        height: max-content;
        padding: 1em 0;

        .contentHeader {
            display: flex;
            height: 100% !important;

            .logoHeader {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 92px;
                }
            }

            .tanggalHeader {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                * {
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }
    }

    .bodySection {
        .contentBody {
            .contentTitle {
                padding-top: 2em;
                .bodyTitle {
                    & * {
                        color: white;
                        font-family: 'Montserrat', sans-serif;
                        width: max-content;
                        text-align: center;
                    }

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }

                .bodySubTitle {
                    & * {
                        color: white;
                        font-family: 'Montserrat', sans-serif;
                        width: max-content;
                        text-align: center;
                        border-right: 1px solid white;
                        border-left: 1px solid white;
                        padding: 0 1em;

                    }

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }

                .lineTitle {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .line {
                        background: yellow;
                        width: 60px;
                        height: 4px;
                    }
                }
            }

            .contentMain {
                display: flex;
                padding: 5em;
                .personDisplay {
                    .personDisplayItem {
                        display: flex;
                        flex-direction: row;
                        height: 8em;
                        margin-bottom: 3em;
                        img {
                            height: 100%;
                        }

                        .personDisplayDetail {
                            color: white;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            .detailName,
                            .detailSch {
                                height: 50%;
                            }

                            .detailSch {
                                display: flex;
                                flex-direction: row;
                                .detail{
                                    width: 100%;
                                }
                                .leftLine {
                                    height: 50%;
                                    background: yellow;
                                    width: 8px;
                                    margin-right: 1em;
                                }
                                .leftLineNotAvail{
                                    background: #FF6E6E !important;
                                }
                            }
                        }
                    }
                }
                .videoDisplay{
                    .video_wrapper {
                        width: 560px;
                        position: relative;
                        background-color: #000;
                    }
            
                    .video_wrapper_full {
                        padding-top: 315px;
                    }
            
            
                    .videoIframe {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                    }
            
                    .videoPoster {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        background-image: url(http://c.fastcompany.net/multisite_files/cocreate/imagecache/inline-large/inline/2013/01/1682283-inline-inline-2-music-veteran-amani-duncan-on-marketing-cf-martin-the-worlds-oldest-guitar-maker.jpg);
                        background-size: 100%;
                        border: none ;
                        text-indent: -999em;
                        overflow: hidden;
                        opacity: 1;
                        -webkit-transition: opacity 800ms, height 0s;
                        -moz-transition: opacity 800ms, height 0s;
                        transition: opacity 800ms, height 0s;
                        -webkit-transition-delay: 0s, 0s;
                        -moz-transition-delay: 0s, 0s;
                        transition-delay: 0s, 0s;
                    }
            
                    .videoPoster:hover {
                        cursor: pointer;
                    }
            
                    .videoPoster:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 80px;
                        height: 80px;
                        margin: -40px 0 0 -40px;
                        border: 5px solid #fff;
                        border-radius: 100%;
                        -webkit-transition: border-color 300ms;
                        -moz-transition: border-color 300ms;
                        transition: border-color 300ms;
                    }
            
                    .videoPoster:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 0;
                        height: 0;
                        margin: -20px 0 0 -10px;
                        border-left: 40px solid #fff;
                        border-top: 25px solid transparent;
                        border-bottom: 25px solid transparent;
                        -webkit-transition: border-color 300ms;
                        -moz-transition: border-color 300ms;
                        transition: border-color 300ms;
                    }
            
                    .videoPoster:hover:before,
                    .videoPoster:focus:before {
                        border-color: rgb(209, 205, 205);
                    }
            
                    .videoPoster:hover:after,
                    .videoPoster:focus:after {
                        border-left-color: rgb(100, 99, 99);
                    }
            
                    .videoWrapperActive .videoPoster {
                        opacity: 0;
                        height: 0;
                        -webkit-transition-delay: 0s, 800ms;
                        -moz-transition-delay: 0s, 800ms;
                        transition-delay: 0s, 800ms;
                    }
                    .videoDetail{
                        color: white;
                        display: flex;
                        flex-direction: row;
                        padding-top: 1em;
                        
                        .videoDetailLine{
                            background: white;
                            width: 5px;
                            height: 4em;
                            margin-right: 1em;
                        }
                        .videoDetailTitle{

                        }
                    }
                }
            }
        }
    }
}
